.mainMenu {
  background-color: #056a1f;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.headerWrap {
  width: 100%;
}

.langMenu {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
}
.mainMenuList {
  display: flex;
  margin: 0;
}
.mainMenuListItem {
  font-weight: 600;
  list-style: none;
  margin-left: 1rem;
  text-transform: uppercase;
  opacity: 0.46;
  cursor: pointer;
}

.mainMenuListItem:hover {
  list-style: none;
  margin-left: 1rem;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}
.activeLink {
  font-weight: 600;
  color: #056a1f;
  margin-left: 1rem;
  list-style: none;
}

.activeLinkMain {
  font-weight: 600;
  color: #ffffff !important;
  text-transform: uppercase;
  margin-left: 1rem;
  list-style: none;
  cursor: none;
}



@media (max-width: 600px) {
  Ї .mainMenuListItem,
  .mainMenuListItem:hover {
    margin-left: 0 !important;
  }
}
