.container {
  padding: 1.6rem;
}
.boldFont {
  font-weight: 700;
}

.fakeItemWrap > td {
  padding: 0.6rem 1.2rem 0.6rem 0.6rem;
  /* border-bottom: 1px solid #ccc; */
}

.fakeNote {
  font-size: 1rem;
  min-width: 70%;
}

.fakeNote,
.fakeDate,
.fakeSource {
  line-height: 1.4rem;
}

.fakeSource {
  font-weight: 600;
}

.fakeNote,
.fakeSource {
  margin: 10px;
}
.fakeDate {
  font-size: 0.76rem;
}

.fakeSource,
.fakeDate {
  color: #056a1f;
  width: 15%;
}

.fakeItemHedingWrap {
  border-bottom: 1px solid #056a1f;
}

.fakeHeading {
  background-color: #056a1f;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.6rem;
  color: #fff;
  width: fit-content;
  margin: 2rem 0;
}
.fakeLink {
  /* border-bottom: 1px solid rgb(233, 233, 233); */
  padding: .4rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.fakeLink:hover {
  color:#056a1f;
}

.fakeWord {
  font-weight: 600;
  color: crimson;
}

.fakeItemHeading {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem 0;
  border-bottom: #056a1f 1px solid;
}

.fakeItemArrow {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #056a1f;
  cursor: pointer;
}

.debunking {
  /* border-left: 6px solid #056a1f; */
  padding: .2rem .6rem;
  /* margin-left: 4rem; */
  line-height: 1.6rem;
}
.debunkingBody>a {
  color: #dd0000 !important;
  font-weight: 500;
}
.debunkingHeading {
  margin: 0 0 .4rem 0;
}

.country, .media, .date {
  margin: 0 2rem 0 0;
  font-size: .8rem;
  font-weight: 600;
  width: 160px;
}

.date {
  justify-content: flex-end;
}

.media>a {
  color: #dd0000;
}

.media>a:hover {
  color: #be0000;
  text-decoration: underline;
}