.container {
  padding: 1.6rem;
}

.fakeItemWrap > td {
  padding: 0.6rem 1.2rem 0.6rem 0.6rem;
  /* border-bottom: 1px solid #ccc; */
}

.fakeNote {
  font-size: 1rem;
  min-width: 70%;
}

.fakeNote,
.fakeDate,
.fakeSource {
  line-height: 1.4rem;
}

.fakeSource {
  font-weight: 600;
}

.fakeNote,
.fakeSource {
  margin: 10px;
}
.fakeDate {
  font-size: 0.76rem;
}

.fakeSource,
.fakeDate {
  color: #056a1f;
  width: 15%;
}

.fakeItemHedingWrap {
  border-bottom: 1px solid #056a1f;
}

.fakeHeading {
  background-color: #056a1f;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
  padding: 0.6rem;
  color: #fff;
  width: fit-content;
  margin: 0;
}
